<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<a href='/menue' class='btn btn-primary btn-sm active' role='button'>Menü</a><br>
<table>
<tr><td>Stand </td><td>: {{versdat|default:"01.01.1970"}}</td></tr>
<tr><td>Version </td><td>: {{versnr|default:"0.x"}}</td></tr>
</table>
</html>
