<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<a href='/menue' class='btn btn-primary btn-sm active' role='button'>Menü</a> 
<a href='/insert' class='btn btn-primary btn-sm active' role='button'>Einfügen</a>
<table class='table table-hover'>
<tr><th>Sender</th></tr>
    {% for m in ViewSender %}
    <tr>
    <td><a target="_blank" href="{{ m.fldlink|escape }}">{{ m.fldsender|escape }}</a></td><td><a href='/update?id={{m.id}}' class='btn btn-primary btn-sm active' role='button'>U</a></td>
    </tr>
    {% endfor %}
</table>
</html>
