<!DOCTYPE html>
<html>
<head>
  <title>Joorgpython</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style type="text/css">
    #inhalt {
        border: 2px dotted #94A8BB;
        background-color: #ECFFFF;
        margin: 4%;
        padding: 5px;
    }

    .container {
        border: 1px solid #98BDD8;
        margin-bottom: 10px;
    }
    .titelzeile {
        background-color: #A8D1EF;
        font-weight:bold;
        padding: 1px;
    }
    .titel { float: left; }
    .zeitstempel { float: right }
    .text { padding: 3px; }
    .link_unten {
        margin-top: 3px;
        font-size: 8pt;
    }

    .kommentarzeile { border: 1px solid #A8D1EF; }

    .spaltenbezeichner {
        width: 100px;
        background-color: #B6DEEF;
        font-weight: bold;
        font-size: 10pt;
        text-align: right;
        vertical-align: top;
    }

    .fehler { color: red }
  </style>
</head>
<body>
  <div id="inhalt">
    <h2>{% block titel %}Joorgpython{% endblock %}</h2>
    {% block inhalt %}
    {% endblock %}
  </div>
</body>
</html>
